<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/angular-colorpicker-dr.css">
</head>
<body ng-app="DotsandBoxes" ng-controller="segments">
    <div class="container">

    <div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="row"><div class="block-wrapper" ng-repeat="seg in (segments | filter:{row:row} | orderBy:'col') track by $index"><div class="seg-{{ seg.type }}" id="{{ seg.id }}" data-ng-click="segmentClick(seg)" style="background: {{ seg.color }};"></div></div></div>
    </div>
    </div>

    <div>
      <button data-ng-click="modeSwitch()">{{ mode }}</button><br />
      <button style="background-color: {{ player1 }};">Player 1</button>
      <div color-picker ng-model="player1"></div>
      <button style="background-color: {{ player2 }}";>Player 2</button>
      <div color-picker ng-model="player2"></div>
      <button data-ng-click="reset()">Reset</button>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-colorpicker-dr.js"></script>
  <script src="js/socket.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    var socket = io();
  </script>
</body>
</html>
