<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/angular-colorpicker-dr.css">
</head>
<body ng-app="DotsandBoxes" ng-controller="segments">
    <div id="container">

    <div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="row"><div class="block-wrapper" ng-repeat="seg in (segments | filter:{row:row} | orderBy:'col') track by $index"><div class="seg-{{ seg.type }}" id="{{ seg.id }}" data-ng-click="segmentClick(seg)" style="background: {{ seg.color }}; height: {{ seg.height }}px; width: {{ seg.width }}px; margin-left: {{ seg.margin }}px;"></div></div></div>
    </div>
    </div>

    <button class="menu-button button" ng-click="showMenu=true">
      Settings
    </button>

    <div class="menu-wrapper" ng-show="showMenu">
    <div class="menu">
      <button class="button" style="float: right;" ng-click="showMenu=false">
        x
      </button>
      <div>
        <p>
        <strong>Creative</strong>: Pick a colour and click on the segment to change it.<br/>
        <!-- <strong>Game</strong>: Connect with two (or more) devices and take turns to select a segment, if you complete a square you 'win' that block and get another go. The player with the most blocks their colour wins.<br/> -->
        <strong>Random</strong>: Display some pretty colours!<br/>
        </p>
        <p>
          <button ng-repeat="sta in states" data-ng-click="setState(sta)" class="button" ng-class="{selected: state == sta}">{{ sta }}</button>
        </p>

        <p ng-if="state=='Game'">Select a colour to start playing</p>

        <p ng-if="state=='Creative'">
          <button ng-repeat="col in colours" data-ng-click="setColour(col)" class="colour" style="background: {{ col }}" ng-class="{selected: colour == col}"></button>
        </p>

        <p>
          <button data-ng-click="reset()" class="button">Reset</button>
        </p>
      </div>
    </div>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-colorpicker-dr.js"></script>
  <script src="js/socket.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    var socket = io();
  </script>
</body>
</html>
