body {
    background: black;
}

.container {
    margin-top: 50px;
    width: 1000px;
    margin: 50px auto;
}

.block-wrapper {
    display: inline;
    float: none;
}

.block {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #222222;
    float: none;
}

.seg-horiz {
    display: inline-block;
    width: 120px;
    height: 20px;
    background: yellow;
    float: none;
    border-right: 20px solid #222222;
}

.seg-vert {
    display: inline-block;
    width: 20px;
    height: 120px;
    background: green;
    float: none;
}

.row-horiz {
    border-left: 20px solid #222222;
}
